@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: #000;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.canvas {
  border: 2px solid #fff;
  display: flex;
  height: 647px;
  position: relative;
  width: 648px;
}

.shape {
  height: 401px;
  position: absolute;
  left: 131.5px;
  top: 132.5px;
  width: 397px;
  z-index: 1;
}

.shape--border {
  background: #fff;
  height: 403px;
  position: absolute;
  left: 130px;
  top: 131.5px;
  width: 400px;
  z-index: 0;
}

.shape--circle {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.shape--frame {
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}

.shape--decagon {
  -webkit-clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

.shape--hexagon {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.shape--heptagon {
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.shape--nonagon {
  -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.shape--octagon {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.shape--parallelogram {
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.shape--pentagon {
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.shape--rhombus {
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.shape-square {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.shape--trapazoid {
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.shape--triangle {
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.stripes--horizontal {
  background: linear-gradient(
    to bottom,
    #000,
    #000 80%,
    #fff 20%,
    #fff
  );
  background-size: 100% 6px;
}

.stripes--vertical {
  background: linear-gradient(
    to left,
    #000,
    #000 80%,
    #fff 20%,
    #fff
  );
  background-size: 6px 100%;
}

header,
footer {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Mono', monospace;
  position: fixed;
  z-index: 10;
}

header {
  align-items: flex-start;
  left: 25px;
  top: 15px;
}

footer {
  align-items: flex-end;
  bottom: 15px;
  right: 25px;
}

header a,
footer a {
  color: white;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
}

header a:hover,
footer a:hover {
  text-decoration: line-through;
}
